{% extends "network/layout.html" %}

{% block body %}
    <div class="container border">
        <div class="d-flex flex-column border">
        {% for post in posts %}
            <div class="d-flex flex-column border">
                <div class="">
                    <h2><a href="{% url 'userpage' post.poster %}">{{ post.poster }}</a></h2>
                </div>
                <div class="">
                    <p>{{ post.text }}</p>
                </div>
                <div>
                    likes: {{ post.like.count }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center m-5">
            {% if posts.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}"  aria-disabled="true">Previous</a>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#"  aria-disabled="true">Previous</a> 
            {% endif %}
            </li>
            <li class="page-item active"><a class="page-link" href="#">{{ posts.number }}</a></li>
            {% if posts.has_next %}
                <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}"  aria-disabled="true">Next</a>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            {% endif %}
            </li>
        </ul>
    </nav>
    
{% endblock %}